<h1>ABOUT YACT</h1>

<section>
  <header>
    Why YACT?
  </header>
  <p>
    Most of the COVID-19 trackers I was following were either filled with ads or
    were information heavy. I wanted a tracker that gave me just enough
    information about COVID-19 without ads. Hence YACT -
    <strong>Yet Another COVID-19 Tracker.</strong>
  </p>
 <header>
    Sources?
 </header>
 <p>
    For worldwide numbers Johns Hopkins CSSE
    <a href="https://github.com/CSSEGISandData/COVID-19">github repo</a>. And
    for India numbers
    <a href="https://api.covid19india.org/">api.covid19india.org</a>
 </p>
 <header>
    How up to date are the numbers?
 </header>
 <p>
    Johns Hopkins updates their numbers once in a day around 23:59 UTC. The
    India numbers update is as per
    <a href="https://api.covid19india.org/">api.covid19india.org</a> schedule.
    Regardless, I have a scheduler running every hour to fetch data and
    update.The numbers are NOT realtime.
 </p>
 <header>
    Future updates?
 </header>
 <p>
    Just the routine maintenance and bug fixes I guess. No plans to add any new
    features. Maybe a light mode?
 </p>
 <header>
    Any contact info?
 </header>
 <p>
    For any queries or issues you can reach out to me at
    <a href="mailto:shadowfacsimile@gmail.com">shadowfacsimile@gmail.com</a>.
    Github repo -
    <a href="https://github.com/shadowfacsimile">ShadowFacsimile</a>
 </p>
</section>
